body {
    padding-top: 112px;
}

.form-style {
    margin: 0 auto;
    max-width: 300px;
}

#button {
    margin: 0 auto;
    display: block;
}

.input-group-text {
    min-width: 88px;
}

#description {
    min-height: 200px;
}