body{
    padding-top: 112px;
}

.form-style {
    margin: 0 auto;
    max-width: 500px;
}

.btn {
    margin: 0 auto;
    display: block;
}

.input-group-text {
    width: 120px;
}

select {
    width: 100px;
}