.rate {
    min-width: 210px;
}

.reviews-stats{
    background: #f3f3f3;
    opacity: 0.8;
}
.score-container{
    display: inline-block;
    vertical-align: middle
}

.score-container {
    padding: 20px 15px;
    text-align: center;
    width: auto;
}
.score-container .score {
    color: #333;
    font-size: 64px;
    font-weight: 100;
    line-height: 64px
}


.card-img-top:hover {
    opacity: 1;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.rate {
    padding: 0 30px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}