<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="css/about-us.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>



<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container nav-container">
        <a class="navbar-brand" href="#">Beer Tag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/beers" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Beers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/beers">View all</a>
                        <a class="dropdown-item" href="/beers/createBeer">Create Beer</a>
                        <!-- <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Admin</a>
                        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">

                            <li>
                                <a tabindex="-1" href="/admin/beers" class="dropdown-item">Beers</a>
                            </li>

                            <li>
                                <a tabindex="-1" href="/admin/users" class="dropdown-item">Users</a>
                            </li>

                            <!-- Level two dropdown-->
                            <li class="dropdown-submenu">
                                <a id="dropdownMenu2" href="/admin/breweries" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Brewery</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/breweries/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/breweries" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu3" href="/admin/countries" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Country</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/countries/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/countries" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu4" href="/admin/styles" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Style</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/styles/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/styles" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu5" href="/admin/tags" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Tags</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/tags/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/tags" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
        <form class="log-form" th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
            <button class="btn btn-outline-success" type="submit" value="Login">Login</button>
        </form>
        <form class="log-form" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
            <div class="logout">
                <span id="authentication-name" sec:authentication="name"></span>
            </div>
            <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
        </form>
    </div>
</nav>



<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About <span>Appmom</span></h1>
                    <h3>Lorem ipsum dolor sit amet </h3>
                    <p class="about-paddingB">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor congue non sit amet dolor. Proin pretium purus a lorem ornare </p>
                    <p>sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien</p>
                    <div class="about-icons">
                        <ul >
                            <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                            <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                            <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                            <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                        </ul>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Beer-Tag</p>
    </div>
    <!-- /.container -->
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script src="/js/dropdown.js"></script>
</body>
</html>