<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Beer Tag</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/rating.css}">
    <link rel="stylesheet" th:href="@{/css/dropdown.css}">


</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container nav-container">
        <a class="navbar-brand" href="#">Beer Tag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/beers" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Beers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/beers">View all</a>
                        <a class="dropdown-item" href="/beers/createBeer">Create Beer</a>
                        <!-- <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Admin</a>
                        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">

                            <li>
                                <a tabindex="-1" href="/admin/beers" class="dropdown-item">Beers</a>
                            </li>

                            <li>
                                <a tabindex="-1" href="/admin/users" class="dropdown-item">Users</a>
                            </li>

                            <!-- Level two dropdown-->
                            <li class="dropdown-submenu">
                                <a id="dropdownMenu2" href="/admin/breweries" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Brewery</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/breweries/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/breweries" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu3" href="/admin/countries" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Country</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/countries/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/countries" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu4" href="/admin/styles" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Style</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/styles/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/styles" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu5" href="/admin/tags" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Tags</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/tags/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/tags" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
        <form class="log-form" th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
            <button class="btn btn-outline-success" type="submit" value="Login">Login</button>
        </form>
        <form class="log-form" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
            <div class="logout">
                <span id="authentication-name" sec:authentication="name"></span>
            </div>
            <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
        </form>
    </div>
</nav>



<div class="container-fluid table-resposive">
    <table class="table">

        <thead>
        <tr>
            <th scope="col">Country Code</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" country : ${countries}">
            <td th:text="${country.id} "></td>
            <td th:text="${country.name}"></td>
            <td></td>

            <td>
                <div class="input-group">
                    <div class="input-group-append" id="button-addon4">
                        <form th:action="@{/admin/countries/delete/{id}(id = ${country.id})}" class="pull-right"
                              method="post">
                            <button class="btn btn-danger" role="button">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="/js/dropdown.js"></script>

</body>

</html>