<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Beer Tag</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/createbeer.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container nav-container">
        <a class="navbar-brand" href="#">Beer Tag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/beers" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Beers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/beers">View all</a>
                        <a class="dropdown-item" href="/beers/createBeer">Create Beer</a>
                        <!-- <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Admin</a>
                        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">

                            <li>
                                <a tabindex="-1" href="/admin/beers" class="dropdown-item">Beers</a>
                            </li>

                            <li>
                                <a tabindex="-1" href="/admin/users" class="dropdown-item">Users</a>
                            </li>

                            <!-- Level two dropdown-->
                            <li class="dropdown-submenu">
                                <a id="dropdownMenu2" href="/admin/breweries" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Brewery</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/breweries/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/breweries" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu3" href="/admin/countries" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Country</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/countries/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/countries" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu4" href="/admin/styles" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Style</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/styles/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/styles" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a id="dropdownMenu5" href="/admin/tags" role="button" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false" class="dropdown-item dropdown-toggle">Tags</a>

                                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" href="/admin/tags/new" class="dropdown-item">Create</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="/admin/tags" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
        <form class="log-form" th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
            <button class="btn btn-outline-success" type="submit" value="Login">Login</button>
        </form>
        <form class="log-form" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
            <div class="logout">
                <span id="authentication-name" sec:authentication="name"></span>
            </div>
            <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
        </form>
    </div>
</nav>


<div class="justify-content-center content">
    <form class="form-style" th:action="@{/beers/createBeer}" th:object="${beer}" method="post"
          enctype="multipart/form-data">

        <div th:if="${error != null}">
            <div class="alert alert-danger">
                <span th:text="${error}"></span>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="name">Name</span>
                </div>
                <input th:field="*{name}" type="text" class="form-control input-lg" placeholder="name"
                       aria-label="name"
                       required="true" autofocus="true">
                <i class="error" th:errors="*{name}"></i>
            </div>
        </div>


        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="abv">ABV</span>
                </div>
                <input th:field="*{abv}" type="text" class="form-control input-lg" placeholder="abv"
                       aria-label="abv"
                       required="true" autofocus="true">
                <i class="error" th:errors="*{abv}"></i>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="description">Description</span>
                </div>
                <textarea th:field="*{description}" type="text" class="form-control input-lg" placeholder="Please specify..."
                       aria-label="description"
                       required="true" autofocus="true">
                    <i class="error" th:errors="*{description}"></i> </textarea>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Style">Style</span>
                </div>
                <select th:field="*{styleId}">
                    <option th:each="style : ${styles}" th:value="${style.id}" th:text="${style.name}">
                    </option>
                </select>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Brewery">Brewery</span>
                </div>
                <select th:field="*{breweryId}">
                    <option th:each="brewery : ${breweries}" th:value="${brewery.id}" th:text="${brewery.name}">
                    </option>
                </select>
            </div>
        </div>


        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Country">Country</span>
                </div>
                <select th:field="*{countryId}">
                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}">
                    </option>
                </select>
            </div>
        </div>



        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Tag">Tags</span>
                </div>
                <select th:field="*{tags}" multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
                </select><!-- End -->
            </div>
        </div>





        <div class="input-group mb-3">
            <tr>
                <td>Upload image:</td>
                <td><input type="file" name="file"/></td>
            </tr>
        </div>

        <div class="form-group ">
            <button type="submit" id="button" class="btn btn-secondary">Create</button>
        </div>

    </form>

</div>
<!-- Footer -->
<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Beer-Tag</p>
    </div>
    <!-- /.container -->
</footer>


<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<script src="/js/dropdown.js"></script>
</body>

</html>
